$bg-primary: #050816;
$bg-secondary: #0b1120;

$surface: rgba(255,255,255,.06);
$surface-hover: rgba(255,255,255,.10);

$border: rgba(255,255,255,.08);

$text-primary: #ffffff;
$text-secondary: #94A3B8;

$primary: #6D5DF6;
$accent: #00D9FF;

$radius: 20px;
$container-width: 1200px;